<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Azuriranje</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Azuriranje dogadjaja</h1>
        <p>Naredni dogadjaj je uspesno izmenjen:</p>
        <ul>
            <li>Naziv: <%= dogadjaj.naziv %></li>
            <li>Datum: <%= dogadjaj.dan %>.<%= dogadjaj.mesec %>.<%= dogadjaj.godina %>.</li>
            <li>Trajanje: <%= dogadjaj.trajanje %> minuta</li>
        </ul>

        <a href="/">Vrati se na pocetnu stranicu</a>
    </body>
</html>
