<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stefan Novakovic</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/1.css" rel="stylesheet">
    </head>
    <body>
        <div class="omotac">
            <div class="levi">
                <h1>Tekuca statistika</h1>

                <form id="statistika" method="post" action="/statistike/unesi-statistiku/">
                    <label>Smer:</label>
                    <input type="text" name="smer" value="<%= smer %>" readonly>
                    <label>Broj studenata:</label>
                    <input type="number" name="broj" value="<%= brStudenata %>" readonly>
                    <label>Prosecna ocena:</label>
                    <input type="number" name="prosek" value="<%= prosek %>" readonly>
                    <label>Najistaknutiji na smeru:</label>
                    <input type="text" name="student" value="<%= najistaknutiji %>" readonly>
                    <label>Datum unosa statistike:</label>;
                    <input type="date" name="datum">

                    <input type="checkbox" name="imaKomentar">
                    <label>Unesite komentar:</label>

                    <label>komentar:</label>
                    <textarea form="statistika" rows="3" cols="40" name="komentar"></textarea>

                    <input type="submit" name="unesi" value="Unesi tekucu statistiku">
                </form>
            </div>

            <div class="desni">
                <h1>Istorija statistika za smer: <%= smer %></h1>
                <% for (const i of istorija) { %>
                    <h3>Datum: <%= i.datum.toLocaleDateString('srb') %></h3>
                    <table>
                        <tr>
                            <th>Broj studenata:</th>
                            <td><%= i.brojStudenata %></td>
                        </tr>
                        <tr>
                            <th>Prosecna ocena:</th>
                            <td><%= i.prosek %></td>
                        </tr>
                        <tr>
                            <th>Najistaknutiji na smeru:</th>
                            <td><%= i.student %></td>
                        </tr>
                    </table>
                    <% if (i.imaKomentar) { %>
                        <p><%= i.komentar %></p>
                    <% } %>
                <% } %>
            </div>
        </div>
    </body>
</html>

